:root {
  // Paleta Principal
  --primary-color: #4e395d;
  --secondary-color: #827085;
  --tertiary-color: #8ebe94;
  --quaternary-color: #ccfc8e;
  --quinary-color: #dc5b3e;

  --primary-color-light: #6c567b;
  --secondary-color-light: #a08ca4;
  --tertiary-color-light: #c0e0b4;
  --quaternary-color-light: #e0f294;
  --quinary-color-light: #f2b083;

  // Cores de Acento
  --success-color: #5dea8b; // Verde (vitória, sucesso)
  --warning-color: #fdb45d; // Laranja (energia, competição)
  --error-color: #ff5a5a; // Vermelho (alerta, urgência)
  --info-color: #5dc0ea; // Azul claro (informação)

  // Cores Neutras
  --text-color: #1e2328;
  --text-secondary: #2a2f36;
  --background-color: #fffbf9;

  // Espaçamentos e Tipografia
  --border-radius: 1.2rem;
  --font-family: 'Poppins', sans-serif;
  --line-height: 1.6;

  --font-size-little-small: 1rem;
  --font-size-small: 1.2rem;
  --font-size-base: 1.4rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 2rem;

  // Espaçamentos
  --spacing-xxs: 0.4rem;
  --spacing-xs: 0.8rem;
  --spacing-sm: 1.6rem;
  --spacing-md: 2.4rem;
  --spacing-lg: 3.2rem;
  --spacing-xl: 4.8rem;
}

