:root {
  // Paleta Principal (Terracota, Sálvia, Pêssego)
  --primary-color: #A15B4C; // Terracota Profundo (Calidez, Autenticidade)
  --secondary-color: #6C8578; // Verde Sálvia Suave (Natureza, Artesanato)
  --tertiary-color: #F0A678; // Pêssego/Coral Suave (Acento de Destaque)
  // ... (Outras cores terciárias, quaternárias podem ser ajustadas conforme necessário)

  --primary-color-dark: #8c4c3e ;
  --secondary-color-dark: #4c6053;
  --tertiary-color-dark: #d68968;

  // Cores de Acento
  --success-color: #5dea8b;
  --warning-color: #fdb45d;
  --error-color: #ff5a5a;
  --info-color: #5dc0ea;

  // Cores Neutras
  --text-color: #2A2F36; // Um cinza escuro para melhor contraste
  --text-secondary: #666; // Para textos menos importantes, como descrições
  --white: #ffffff; // Pode ser útil definir o branco puro
  --background-color: #FFF9F3; // Off-White Quente
  --light-bg: #F8F0E9; // Fundo Suave para Seções (Adicionado para clareza)

  // Sombras
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-hover: 0 8px 20px rgba(0, 0, 0, 0.12);

  // Espaçamentos e Tipografia
  --border-radius: 1.2rem;
  --font-family: 'Poppins', sans-serif;
  --line-height: 1.6;

  --font-size-little-small: 1rem;
  --font-size-small: 1.2rem;
  --font-size-base: 1.4rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 2rem;

  // Espaçamentos
  --spacing-xxs: 0.4rem;
  --spacing-xs: 0.8rem;
  --spacing-sm: 1.6rem;
  --spacing-md: 2.4rem;
  --spacing-lg: 3.2rem;
  --spacing-xl: 4.8rem;
}

