<header class="header-nav">
  <div class="header-container">
    <div class="header-content">
      <!-- Logo -->
      <a class="header-nav-logo" href="/" aria-label="Voltar para página inicial">
        <img src="/assets/images/logos/artiza-logo.svg" alt="Logo Artiza"></a>

      <!-- Barra de Busca (Sempre visível) -->
      <div class="header-nav-wrapper">
        <app-search></app-search>
      </div>

      <!-- Menu Principal de Navegação -->
      <div class="header-nav-categories">
        <app-categories></app-categories>
      </div>

      <!-- Ações do Header (Direita) -->
      <div class="header-nav-actions-container">

        <!-- Carrinho (Sempre visível) -->
        <a routerLink="/carrinho"
           class="header-action-button cart-button">
          <i class="fa fa-shopping-cart"></i>
        </a>

        <!-- Se Não estiver logado -->
        <a routerLink="/auth/login" class="header-action-button login-button">
          <i class="fa fa-sign-in-alt"></i>
          <span class="action-label login-label">Entrar</span>
        </a>

        <a routerLink="/auth/register" class="header-action-button register-button primary">
          <i class="fa fa-user-plus"></i>
          <span class="action-label register-label">Cadastrar-se</span>
        </a>
      </div>
    </div>
  </div>
</header>
