<header class="header-nav">
  <div class="header-container">
    <div class="header-content">
      <!-- Logo -->
      <a class="header-nav-logo" href="/" aria-label="Voltar para página inicial">
        <img src="/assets/images/logos/artiza-logo.svg" alt="Logo Artiza"></a>

      <!-- Barra de Busca (Sempre visível) -->
      <div class="header-nav-wrapper">
        <div class="header-nav-search">
          <div class="header-nav-search-wrapper">
            <form (submit)="onSearch($event)" class="search-form">
              <input type="search"
                     placeholder="Buscar produtos, lojas ou artesãos"
                     [(ngModel)]="searchQuery"
                     name="search"
                     class="search-input">
              <button class="search-dropdown" type="button">
                <span>Lojas <i class="fa fa-angle-down"></i></span>
              </button>
            </form>
            <button type="submit" class="search-button" aria-label="Buscar">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Menu Principal de Navegação -->
      <div class="header-nav-categories">
        <app-categories></app-categories>
      </div>

      <!-- Ações do Header (Direita) -->
      <div class="header-nav-actions-container">

        <!-- Carrinho (Sempre visível) -->
        <a routerLink="/carrinho"
           class="header-action-button cart-button">
          <i class="fa fa-shopping-cart"></i>
        </a>

        <!-- Se Não estiver logado -->
        <a routerLink="/auth/login" class="header-action-button login-button">
          <i class="fa fa-sign-in-alt"></i>
          <span class="action-label login-label">Entrar</span>
        </a>

        <a routerLink="/auth/register" class="header-action-button register-button primary">
          <i class="fa fa-user-plus"></i>
          <span class="action-label register-label">Cadastrar-se</span>
        </a>
      </div>
    </div>
  </div>
</header>
